.card{
    box-shadow: 10px 5px 5px red;
    background-color: black;
    color: white;
    align-items: center;

    >img{
        border-radius: 100px;
        width: 50%;
        height: 40%;
        box-shadow:
        inset 0 -3em 3em rgb(0 200 0 / 30%),
        0 0 0 2px white,
        0.3em 0.3em 1em rgb(200 0 0 / 60%);
    
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__title{
            font-size: 20px;
        }
        &__text{
            font-size: 15px;
            text-align: justify;
          padding: 10px 5px 12px 3px;
        }
    }
}